@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import './Colors.scss';

body {
  background-color: #1d1d1d !important;
  font-family: "Playfair Display" !important;
  margin: 0;
  padding: 0;
}